# Created by https://www.toptal.com/developers/gitignore/api/dotnetcore,react
# Edit at https://www.toptal.com/developers/gitignore?templates=dotnetcore,react

### DotnetCore ###
# .NET Core build folders
bin/
obj/
publish/
.vs/

# Common node modules locations
/node_modules
/wwwroot/node_modules

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
**/*.user
node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/dotnetcore,react

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
build